%%-*- mode: erlang -*-

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
  {webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlcloud, ".*", {git, "git://github.com/wagerlabs/erlcloud.git", "HEAD"}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
  ]}.
