%%-*- mode: erlang -*-

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{edoc_opts, [{preprocess, true}]}.

{deps, [
    {webmachine, ".*",
      {git, "git://github.com/basho/webmachine.git", {branch, "master"}}},
    {erlcloud, ".*",
      {git, "git://github.com/basho/erlcloud.git", {branch, "master"}}}
    ]}.

{plugin_dir, "src"}.

{plugins, [rebar_js_handlebars_plugin, rebar_js_concatenator_plugin]}.

{js_handlebars, [
    {doc_root,   "priv/www/js/templates"},
    {out_dir,    "priv/www/js"},
    {target,     "Ember.TEMPLATES"},
    {compiler,   "Ember.Handlebars.compile"},
    {templates,  [{"generated/templates.js", ["application.hbs"]}]}
]}.

{js_concatenator, [
    {doc_root,        "priv/www/js/vendor"},
    {out_dir,         "priv/www/js"},
    {concatenations,  [{"generated/vendor.js", [
        "jquery-1.7.2.js",
        "jquery-ui-1.8.16.custom.min.js",
        "handlebars-1.0.0.beta.6.js",
        "ember-latest.js",
        "ember-data-latest.js",
        "minispade.js"], []}]}
]}.
