<header class="constrained main-header logged-in">
    <section class="less-than-half">
        <div class="logo left">Simple, Available, Distributed Cloud Storage.</div>
        <div class="clear"></div>
    </section>
    <section class="more-than-half nav-blocks">
        <nav>
            <div class="block-container orange has-shadow right">
                {{#linkTo "users.index" classNames="nav-block orange-radial"}}
                    <span class="nav-icon list-large"></span>
                    <span class="bottom-text">List</span>
                {{/linkTo}}
            </div>
            <div class="block-container green has-shadow right">
                {{#linkTo "users.new" classNames="nav-block green-radial"}}
                    <span class="nav-icon create-large"></span>
                    <span class="bottom-text">Create</span>
                {{/linkTo}}
            </div>
        </nav>
    </section>
    <div class="clear"></div>
    <div class="block-container blue has-shadow">
        <div class="blue-linear header-bar">
            <div class="header-bar-icon account-large left"></div>
            <h1 class="title">Administration</h1>
        </div>
    </div>
</header>

<div id="container">{{outlet}}</div>

<footer class="constrained">
    <div class="block-container blue has-shadow">
        <div class="footer-bar blue-linear">
            <section class="half-width">
                <div class="left footer-info">
                    Copyright &copy; 2013 Basho Technologies, Inc.
                </div>
            </section>
            <section class="half-width">
                <div class="right footer-info">
                    <a class="riak-logo" href="http://www.basho.com">Powered by</a>
                </div>
            </section>
            <div class="clear"></div>
        </div>
    </div>
</footer>
