<section class="constrained info">
        <div class="block-container white">
            <h2 class="title">Disk Usage</h2>
            <div class="white-slab">
                <div class="user-list-table">
                    <table class="info-table">
                            <tr>
                                <td class="empty-state">
                                Disk usage goes here
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </div>

</section>
