<section class="constrained info">
    
    {{#if view.isLoading}}
        {{view RiakCsControl.LoadingView id="loading"}}
    {{else}}
        <div class="block-container white">
            <h2 class="title">User List</h2>

            <div class="white-slab">
                <div class="tab-container right">
                    <a class="active-tab">
                        Filter by
                        {{view RiakCsControl.UserFilterView placeholder="All Users..."}}
                    </a>
                    <div class="hide-shadow clear"></div>
                </div>
                <div class="user-list-table">
                    <table class="info-table">
                        {{collection RiakCsControl.UsersCollectionView contentBinding="controller.arrangedContent" itemClass="standard-row"}}
                    </table>
                </div>
            </div>
        </div>
    {{/if}}
</section>
