<section class="constrained info">
    <div class="block-container white">
        <h1 class="title">Users {{#if controller.isLoading}} <img class="spinner" src="/assets/dark-bg-spinner.gif"> {{/if}} </h1>

        <div class="white-slab">
            <div>
                <table class="info-table">
                    <thead>
                        <tr>
                            <th><h2 class="title">Type</h2></th>
                            <th><h2 class="title">Name</h2></th>
                            <th><h2 class="title">Email Address</h2></th>
                            <th><h2 class="title">Access Key ID</h2></th>
                            <th><h2 class="title">&nbsp;</h2></th>
                        </tr>
                    </thead>
                    {{collection RiakCsControl.UsersCollectionView contentBinding="controller" itemClass="standard-row"}}
                </table>
            </div>
        </div>
    </div>
</section>
