<section class="constrained info">
    <div class="block-container white">
        <h2 class="title">User List</h2>

        <div class="white-slab">
            <div class="tab-container right">
                <a {{action "viewUsers" this href=true}} class="active-tab">All</a>
                <div class="hide-shadow clear"></div>
            </div>
            <div class="user-list-table">
                <table class="info-table">
                    <!--
                    <thead>
                        <tr>
                            <th><h2 class="title">Name</h2></th>
                            <th><h2 class="title">E-mail</h2></th>
                            <th><h2 class="title">Access Key</h2></th>
                            <th><h2 class="title">Secret Key</h2></th>
                            <th><h2 class="title">&nbsp;</h2></th>
                            <th><h2 class="title">&nbsp;</h2></th>
                        </tr>
                    </thead>
                    -->
                    {{collection RiakCsControl.UsersCollectionView contentBinding="controller.persistedUsers" itemClass="standard-row"}}
                </table>
            </div>
        </div>
    </div>
</section>
