%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/app.config
%%
{port, 8000}.
{cs_hostname, "s3.amazonaws.com"}.
{cs_port, 80}.
{cs_protocol, "http"}.
{cs_proxy_host, "localhost"}.
{cs_proxy_port, 8080}.
{cs_admin_key, "admin-key"}.
{cs_admin_secret, "admin-secret"}.
{cs_administration_bucket, "riak-cs"}.

%%
%% etc/vm.args
%%
{node,         "riak-cs-control@127.0.0.1"}.
{crash_dump,   "log/erl_crash.dump"}.

%%
%% bin/riak-cs-control
%%
{data_dir,           "{{target_dir}}/data"}.
{runner_script_dir,  "\`cd \\`dirname $0\\` && /bin/pwd\`"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/basho-patches"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
{runner_wait_process, "riak_cs_control_sup"}.
