%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
[
    %% Riak CS Control
    {riak_cs_control, [
       %% Instance of Riak CS you wish to talk to.
       {cs_hostname, "{{cs_hostname}}" },
       {cs_port, {{cs_port}} },
       {cs_protocol, "{{cs_protocol}}" },

       %% Proxy information; necessary if you are using s3.amazonaws.com as
       %% your hostname.
       {cs_proxy_host, "{{cs_proxy_host}}" },
       {cs_proxy_port, {{cs_proxy_port}} },

       %% Credentials you want the application to run as.
       {cs_access_key_id, "{{cs_access_key_id}}" },
       {cs_secret_access_key, "{{cs_secret_access_key}}" },

       %% Specify the bucket name for administration options.
       {cs_administration_bucket, "{{cs_administration_bucket}}" }
    ]}
].
