%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
[
    %% Riak CS Control
    {riak_cs_control, [
       %% Set to false to disable the control panel.
       {enabled, false},

       %% Instance of Riak CS you wish to talk to.
       %%
       {cs_hostname, "s3.amazonaws.com"},
       {cs_port, {{cs_port}}},
       {cs_protocol, "http"},

       %% Proxy information; necessary if you are using s3.amazonaws.com as
       %% your hostname.
       {cs_proxy_host, "localhost"},
       {cs_proxy_port, {{cs_port}}},

       %% Credentials you want the application to run as.
       {cs_access_key_id, "admin-key"},
       {cs_secret_access_key, "admin-secret"},

       %% Specify the bucket name for administration options.
       {cs_administration_bucket, "riak-cs"}
    ]}
].
